body {
  background:#FF5722;
}

.class1{
 font-size:30px;
  color:black;
  text-align:center;
  font-family: monospace;
}
.class2{
  text-align:center;
}
p{
  font-size:24px;
  font-family: serif;
  
}





